@charset "utf-8";
/* CSS Document */

body {
	background-image: url(background.png);
	background-size: cover;
}

img {

	
	margin-top : 30px;
	margin-left: 45% ;
	display: inline-block;
	


}

p {
	font-size:15px ;
	font-family: "Times New Roman";
	color: white ;
	text-align: center;
	margin-bottom: 50px;

}

hr {

	color: red;
}

h2 {

}
